<app-property-binding
  [isUnchanged]="isUnchanged"
  [evilTitle]="evilTitle"
  [interpolationTitle]="interpolationTitle"
  [itemImageUrl]="itemImageUrl"
  [propertyTitle]="propertyTitle"
></app-property-binding>
<app-event-binding
  [currentItem]="currentItem"
  [clickMessage]="clickMessage"
  (save)="onSave($event)"
  (delete)="deleteItem($event)"
  (click)="onClickMe($event)"
  (inputChanged)="currentItem.name = getValue($event)"
></app-event-binding>
<app-text-interpolation
  [currentCustomer]="currentCustomer"
  [itemImageUrl]="itemImageUrl"
></app-text-interpolation>
